en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
Flask==2.0.3
Jinja2==3.0.3
requests==2.27.1
spacy==3.2.2
spacy-legacy==3.0.8
spacy-loggers==1.0.1
Werkzeug==2.0.3
gunicorn==20.1.0